.dataTables_filter, .dataTables_info { display: none; }

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: none;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #f5f5f5;
}

table.dataTable{
    border-collapse: collapse;
    border: 1px solid #ababab;
    border-top: 0;
    margin: 0;
}

table.dataTable.no-footer {
    border-bottom: none;
}
#reportsTable:after,
#ordersTable:after,
#personsTable:after {
    border-top: 1px solid #ababab;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: calc(100% - 24px);
}
table.dataTable thead th, table.dataTable thead td {
    border: 1px solid #BBB;
    text-align: left;
    padding: 3px 16px 3px 5px;
    font-size: 12px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 10px 5px;
    font-size: 12px;
    border-right: 1px solid #dddddd;
    text-align: center;
}

table.dataTable tbody td:last-child{
    border: inherit;
}

table.dataTable thead .sorting {
    background: url('../images/sort_both.png') no-repeat right center scroll;
}

table.dataTable thead .sorting_asc {
    background: url('../images/sort_asc.png')no-repeat right center scroll;
}
table.dataTable thead .sorting_desc {
    background: url('../images/sort_desc.png') no-repeat right center scroll;
}

table.dataTable tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}

table.dataTable tbody tr:hover{
    background-color: #FDFAE3;
}

table.dataTable tbody tr.selectedRow{
    background-color: #FDFAE3 !important;
}

.dataTables_wrapper {
    max-height: 100%;
    width: 100%;
    overflow: auto;
    position: static;
}



#personsTable .column-full_name{
    min-width: 98px;
    text-align: center;
}

#personsTable .column-full_name .fixed_header span{
    text-align: center;
    width: inherit;
}


#personsTable td.column-full_name{
    text-align: left;
}
#personsTable td.column-full_name a{
    text-decoration: none;
    color: #0975a6 !important;
}

#personsTable td.column-full_name a:hover{
    text-decoration: underline ;
}


#personsTable .column-rate{
    min-width: 35px;
}
#personsTable .column-gender{
    min-width: 35px;
}
#personsTable .column-position{
    min-width: 79px;
}
#personsTable td.column-position{
    min-width: 79px;
    text-align: left;
}

#personsTable .column-start_date{
    min-width: 63px;
}
#personsTable .column-transfer{
    min-width: 56px;
}
#personsTable .column-order_number{
    min-width: 57px;
}
#personsTable .column-order_date{
    min-width: 57px;
}
#personsTable .column-contract_number{
    min-width: 57px;
}
#personsTable .column-education{
    min-width: 81px;
}
#personsTable .column-finish_date{
    min-width: 67px;
}
#personsTable .column-birthday{
    min-width: 67px;
}
#personsTable .column-allocation{
    min-width: 64px;
}
#personsTable .column-phone{
    min-width: 57px;
}
#personsTable .column-children_info{
    min-width: 100px;
}
#personsTable .column-full_name_latin{
    min-width: 65px;
}
#personsTable td.column-children_info{
    text-align: left;
}
#personsTable td.column-children_info div{
    max-height: 36px;
    overflow: hidden;
}
#personsTable td.column-full_name_latin{
    text-align: left;
}
#personsTable .column-passport_number{
    min-width: 57px;
}
#personsTable .column-passport_individual_number{
    min-width: 77px;
}
#personsTable .column-passport_date_issuance{
    min-width: 57px;
}
#personsTable .column-passport_validity_period{
    min-width: 59px;
}
#personsTable .column-passport_office{
    min-width: 57px;
}
#personsTable td.column-passport_office{
    text-align: left;
}

#personsTable .column-registration{
    min-width: 61px;
}
#personsTable td.column-registration{
    text-align: left;
}

#personsTable .column-form_of_lease{
    min-width: 75px;
}
#personsTable td.column-form_of_lease{
    text-align: left;
}

#personsTable .column-status{
    min-width: 75px;
}
#personsTable td.column-status{
    text-align: left;
}


.fixed_header{
    position: absolute;
    color: #000;
    padding: 5px 16px 5px 4px;
    top: 0;
    line-height: normal;
    height: 18px;
    width: inherit;
    background: inherit;
    border-left: 1px solid #ababab;
    -moz-margin-start: -1px;

}

.fixed_header  div{
    overflow: hidden;
}

.fixed_header  span{
    white-space: nowrap;
}


#personsTable ,
#reportsTable ,
#ordersTable {
    border-left: none !important;
}
#personsTable thead th,
#reportsTable thead th,
#ordersTable thead th {
    height: 0;
    line-height: 0;
    padding: 0;
    color: transparent;
    border: 0;
    white-space: nowrap;
}

#personsTable thead th,
#reportsTable thead th,
#ordersTable thead th:-moz-only-whitespace{
    white-space: pre-line;
}

#personsTable thead th:first-child div,
#reportsTable thead th:first-child div,
#ordersTable thead th:first-child div {
    border-left:0;
}

.fixed-header-background{
    width: 100%;
    height: 27px;
    position: absolute;
    top:0;
    border: 1px solid #ababab;
    background: linear-gradient(to bottom, #f4f6f8, #e3e7ed);
}

.table-right-border {
    border-right: 1px solid rgb(171, 171, 171);
    height: 100%;
    position: absolute;
    right: 24px;
}
#scroll_container {
    border-left: 1px solid rgb(171, 171, 171);
    visibility: hidden;
}