@CHARSET "UTF-8";

@import url("dialogs/header.css");
@import url("dialogs/footer.css");

@import url("dialogs/reveal.css");
@import url("dialogs/tabs.css");

@import url("dialogs/general.css");
@import url("dialogs/documents.css");
@import url("dialogs/family.css");
@import url("dialogs/military.css");
@import url("dialogs/orders.css");
@import url("dialogs/vacation.css");
@import url("dialogs/assignment.css");
@import url("dialogs/education.css");
@import url("dialogs/report.css");

/* TABLES*/
table {
    border-spacing: 8px;
}

.info-tables {
    border: none !important;
    line-height: 1.1 !important;
    width: 100%!important;
}
.info-tables td {
    color: #757575 !important;
    font-size: 11px !important;
}

.dataTables_scrollHead .info-tables thead { border-bottom: 1px solid #CBCBCB; }

.info-tables thead td {
    border: none !important;
    background-image: none !important;
    background-color: #fff !important;
}

.info-tables tbody td {
    border: none !important;
    text-align: left !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody { border-bottom-width: 0; }
.info-tables-wrapper { padding: 15px }

.chosen { background-color: #FDFAE3 !important; }

.divTable {
    width: 100%;
    margin: 0;
    display:  table;
    border-spacing: 10px;/*cellspacing:poor IE support for  this*/
    color: #5f5f5f;
    font-family: Segoe UI,Georgia,"Times New Roman" !important;
}
.headRow > div {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    text-shadow: 0px 0px 0px;
}
.divRow {
    display:table-row;
    width:auto;
}

.divTable .headRow > div,
.divTable .divRow > div {
    float: left;
    padding-left: 1%;
    height: auto;
    font-size: 13px;
}
.divRow > div:nth-child(1) { width: 130px; }
.divRow > div:nth-child(2) { width: 360px; }
.document-number { width: 110px !important; }
.popup-select { width: 150px !important; }

.validation_error {
    border: 1px solid #E68383 !important;
}

/* control buttons*/
.button-block {
    top: 10px;
    float: right;
    position: relative;
    padding: 5px;
}
#education_tabs .button-block { top: -39px }

.button-block a {
    float: left;
    margin-right: 5px;
    text-decoration: none;
    width: 20px;
    height: 20px;
}
#export-personCard-excel {
    cursor: pointer;
    background: url('../image/exel_icon.png') no-repeat scroll 0% 0% transparent;
    background-size: 100%;
    width: 23px;
    height: 23px;
    float: left;
    margin-left: 75px;
}
.add-row { background: url(../image/add_grey.png) no-repeat; }
.add-row:hover { background: url(../image/add_blue.png) no-repeat; }
.print{ background: url(../image/print_brown.png) no-repeat; }
.print:hover { background: url(../image/print_blue.png) no-repeat; }
.settings{ background: url(../image/gear_brown.png) no-repeat; }
.settings:hover { background: url(../image/gear_blue.png) no-repeat; }
.edit-row { background: url('../image/edit_grey.png') no-repeat; }
.edit-row:hover { background: url('../image/edit_blue.png') no-repeat; }
.delete-row { background: url('../image/del_grey.png') no-repeat; }
.delete-row:hover { background: url('../image/del_blue.png') no-repeat; }
.export-to-word { background: url('../image/word_icon.png') no-repeat; }
.export-to-word:hover, #export-personCard-excel:hover { opacity: .8; }

.delete-dialog-button { display: none; }

