.toolbar-border-top
{
    border-top: 1px solid #ABABAB;
    margin-bottom: 10px;
}



.toolbar-header{
    background: #ffffff;
    /*border-bottom: 1px solid #ABABAB;*/
    height: 43px;
}




.global-search-container{
    width: 370px;
    height: 26px;
    padding: 10px 0;
    display: inline-block;
}



.global-search-container .global-search{
    background-color: #FBFBFB;
    border-color: #C7C7C7 #D8D8D8;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 3px 1px #F0F0F0 inset;
    font-family: Segoe UI;
    color: #565656;
    height: 26px;
    padding-left: 7px;
    width:362px;
    border-radius: 3px;
}



.global-search-container .clear-button
{
    position: relative;
    float: right;
    top: -24px;
    left: -11px;
    background: url('../image/close_dialog.png') no-repeat scroll 0% 0% transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    cursor: pointer;
    height: 22px;
    width: 22px;
    border-radius: 3px;

}

.global-search-container .clear-button:hover
{
    background: url('../image/close_dialog_hover.png') no-repeat scroll 0% 0% transparent;
    background-size: 100%;
}

.global-search-container  .search-preference-button
{
    background: url("../images/gear16_16.png") no-repeat scroll 2px center;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #a6a6a6;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #c5c5c5;
    cursor: pointer;
    height: 22px;
    width: 22px;
    box-shadow: 2px 2px 2px 0 #DEDEDE;
    border-radius: 3px;
    position: relative;
    float: right;
    top: -24px;
    left:-34px;
}



.preference-container {
    background: none repeat scroll 0% 0% #FFF;
    width: 320px;
    z-index: 11;
    border: 1px solid #ababab;
    border-radius: 6px;
    margin-top: -1px;
    margin-left: 192px;
    position: absolute;
    top: 182px;
}


.preference-container:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #FFF;
    top: -15px;
    content: '';
    left: 70%;
    margin-left: -15px;
    position: absolute;
}

