body {
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    font-family: Segoe UI,Arial,Helvetica,sans-serif;
    margin: 0;
    color: #000000;
    background: #DBDBDC;
}


.login_button {
    border: 1px solid #CCCCCC !important;
    border-radius: 2px 2px 2px 2px !important;
    color: #585858  !important;
    cursor: pointer !important;
    font-family: arial !important;
    text-shadow: 2px 2px 3px rgb(235,235,235) !important;
    font-size: 12px !important;
    text-align: center !important;
    cursor: pointer !important;
    border: 1px solid #CCCCCC !important;
    box-sizing: content-box !important;
    border-radius: 2px !important;
    /*margin-right: -5px; */
    margin-left: 0;
    margin-top: 0 !important;
    outline: medium none !important;
    padding: 4px 18px !important;
    text-align: center !important;
    text-decoration: none !important;
    outline: none !important;
    font-family: arial !important;
}

.login_button, .edit-issue-dialog .ui-dialog-titlebar .ui-button{
    background-image: -moz-linear-gradient(rgb(255,255,255),rgb(222,222,222)) !important;
    background-image: -ms-linear-gradient(rgb(255,255,255),rgb(222,222,222)) !important;
    background-image: -o-linear-gradient(rgb(255,255,255),rgb(222,222,222)) !important;
    background-image: -webkit-linear-gradient(rgb(255,255,255),rgb(222,222,222)) !important;

    -moz-box-shadow: 2px 3px 3px rgb(232,232,232) !important; /* ??? Firefox */
    -webkit-box-shadow: 2px 3px 3px rgb(232,232,232) !important;  /* ??? Safari ? Chrome */
    /* box-shadow: 2px 3px 3px rgb(232,232,232) !important; /* ????????? ???? */
}

.login_button:focus, .edit-issue-dialog .ui-dialog-titlebar .ui-button:focus{
    border: 1px dotted !important;
}

button span {
    padding: 0 0  !important;
}

.login_button:hover, .edit-issue-dialog .ui-dialog-titlebar .ui-button:hover {
    background-image: -moz-linear-gradient(rgb(243,243,243),rgb(212,212,212)) !important;
    background-image: -ms-linear-gradient(rgb(243,243,243),rgb(212,212,212)) !important;
    background-image: -o-linear-gradient(rgb(243,243,243),rgb(212,212,212)) !important;
    background-image: -webkit-linear-gradient(rgb(243,243,243),rgb(212,212,212)) !important;
}

.login_button:active, .edit-issue-dialog .ui-dialog-titlebar .ui-button:active {
    -moz-box-shadow: 1px 2px 3px rgb(232,232,232) !important; /* ??? Firefox */
    -webkit-box-shadow: 1px 2px 3px rgb(232,232,232) !important; /* ??? Safari ? Chrome */
    box-shadow: 1px 2px 3px rgb(232,232,232) !important; /* ????????? ???? */
}

.login_button:disabled {
    border: 1px solid rgb(234,234,234) !important;

    background-image: -moz-linear-gradient(rgb(255,255,255),rgb(240,240,240)) !important;
    background-image: -ms-linear-gradient(rgb(255,255,255),rgb(240,240,240)) !important;
    background-image: -o-linear-gradient(rgb(255,255,255),rgb(240,240,240)) !important;
    background-image: -webkit-linear-gradient(rgb(255,255,255),rgb(240,240,240)) !important;

    -moz-box-shadow: none !important; /* ??? Firefox */
    -webkit-box-shadow: none !important; /* ??? Safari ? Chrome */
    box-shadow: none !important; /* ????????? ???? */

    text-shadow: 2px 2px 3px rgb(244,244,244) !important;

    color: rgb(212,212,212) !important;
    cursor: default !important;
}

.login {
    width: 320px;
    margin: 100px auto;
    text-align: center;
}

.loginForm {
    background: #fff;
    color: #777;
    padding: 0 20px 20px;
    -moz-box-shadow: 5px 8px 10px rgb(180,180,180); /* ??? Firefox */
    -webkit-box-shadow: 5px 8px 10px rgb(180,180,180); /* ??? Safari ? Chrome */
    box-shadow: 5px 8px 10px rgb(180,180,180); /* ????????? ???? */
}

.loginForm:after{
    content: "";
}

H1 {
    margin: 0 -20px;
    padding: 10px;
    line-height: 20px;
    font-size: 14px;
    text-align: left;
    color: #555;
    font-weight: bold;
    /* border-bottom: 1px solid #cfcfcf;
     border-bottom-left-radius: 50px;  */
    padding-bottom: 1px;
    padding-top: 3px;
}

#logo{
    padding-top: 2px;
}
.separatorLine{
    margin: 0 -10px;
    border-bottom: 1px solid rgb(233,230,230);
}
.formInput {
    border-radius: 2px;
    border: 1px solid rgb(180,180,180);
    height: 28px;
}

#login, #password {
    margin-top: -1px;
    height: 100%;
    width: 100%;
    margin-right: 2;
}

#login::-ms-clear, #password::-ms-reveal {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

#usernameContainer, #remember-me-wrapper, #login, #password {
    padding-left: 8px;
}

#remember-me-wrapper {
    height: 32px;
    margin-bottom: 10px;
    margin-top: 8px;
    font-family: Segoe UI;
    font-size: 12px;
    color: #404040;
}

#remember_me_container {
    cursor: pointer;
    display: inline;
    vertical-align: middle;
    line-height: 32px;
    float: left;
}

#remember_me {
    margin-left: 0 !important;
    vertical-align: middle;
}

#spanCheck{
    background: url('../images/remember-check.png') no-repeat scroll 60% 70% transparent;
}

.login p.submit {
    text-align: right;
}

#domain {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background: #eee;
    border-right: 1px solid #d1d1d1;
    color: #777;
    padding: 0 8px;
    display: inline;
    height: 100%;
    float: left;
    line-height: 28px;
    margin-left: -8px;
}

.username {
    height: 100%;
}

.username, #passwordContainer {
    overflow:hidden;
}

input, table.username {
    font-family:  Verdana, sans-serif;
    font-size: 14px;
}

input[type=text], input[type=password], #remember_me_container{

}

input[type=text], input[type=password] {
    color: #404040;
    background: white;
    border: none;
    border-top-right-radius: 2px;
    width: 100%;
    line-height: 20px;
    height: 20px;
    min-height: 20px;
}

.focused {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}

input::-ms-clear {
    display: none;
}

input{
    outline: none;
}

input:-webkit-autofill {
    /*-webkit-box-shadow: 0 0 0 50px white inset; */
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
    line-height: 34px;
}

.error {
    color: red;
}
.requiredError {
    color: red;
    height: 20px;
    vertical-align: bottom;
}

.errorBorder {
    border: 1px solid red !important;
}

.footer {
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    color: #888;
    font-size: 9pt;
}

span{
    border: 1px solid #D0D0D0;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 1px 1px 3px #EAEAEA inset;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin-top: -1px;
    width: 12px;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;


}

#rememberLabel{
    position: relative;
    top: -2px;
    left: 6px;
}

#cookieDisabledMessage {
    display: none;
    color: #000000;
    margin-top: 16px;
    padding-left: 32px;
    background: url(../images/important.png) no-repeat;
    background-position: left 2px;
    text-align: left;
    font-size: 16px;
}
