/* Topline and Title. Master Page 
-----------------------------------------------------------*/

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Segoe UI, Georgia, "Times New Roman" !important;
    background-color: #ffffff;
    min-width: 1024px;
    min-height: 540px;
    font-size: 12px !important;
}

footer {
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}



* {
	margin: 0;
	padding: 0;
}

hr {
    clear: both;
    margin: 0 10px;
    border: none;
    height: 1px;
    background-color: #CBCBCB;
}

select:not(.ui-datepicker-month):not(.ui-datepicker-year) {
    height: 23px;
    font-size: 11px;
    background: transparent;
    border: none;
    width: 100%;
    min-width: 70px;
    outline: none;
}

a, li { outline: 0 !important; }

button::-moz-focus-inner { border: 0; }

textarea {
    width: 100%;
    height: 70px;
    font-family: Segoe UI,Georgia,"Times New Roman" !important;
    font-size: 12px;
    resize: none;
}

input.date-picker {
    cursor: pointer;
    opacity: .7;
    text-indent: 3px;
    min-width: 100px;
    max-width: 110px;
    background-image: url("../image/calendar.png");
    background-position: right center;
    background-repeat: no-repeat;
}
input.date-picker:hover {
    opacity: 0.8;
}
.select_div {
    display: block;
    position: relative;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    height: 23px;
}

.select_div:before{
    content:'';
    right:0;
    top:0;
    width:22px;
    height:24px;
    background:#fff;
    position:absolute;
    pointer-events:none;
    display:block;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.select_div:after {
    right: 2px;
    top: 2px;
    height: 19px;
    width: 19px;
    content: "";
    position: absolute;
    background: url('../image/select_button.png') no-repeat scroll 0 0 transparent;
    background-size: 100%;
    pointer-events: none;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.top-header-div {
    height: 64px;
    box-shadow: 0 3px 2px #A8A8A8;
    position: relative;
}


.main {
	height: 100%;
	background: #ffffff;
}


.top-left-login {
    min-width: 1000px;
    clear: both;
    float: left;
    /*background: url(../../images/menu/top-left-login.png) no-repeat 0 0;*/
    height: 55px;
}



.top-center-menu {
    height: 24px;
    background-color: #F2F2F2;
    font-family: Segoe UI;
}



.top-center-menu .welcome-message span {
    color: #000000;
}



.tabs-menu{
    margin-top: 9px;
	padding-left: 5px;
    display: inline-block;
    position: relative;
    top: 1px;
}

.coherent-icons-div {
    float:right;
    padding-top:8px;
}

.top-center-div-tab {
    border-top: 1px solid #A6A6A6;
    background-color: #f2f2f2;
}

.menu-left-float{
    display: inline-block;
    margin-left: -2px;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -khtml-border-radius: 3px 3px 0 0;
    cursor: pointer;
    border: 1px solid #ababab;
    padding: 0 5px 9px 0;
    background-color: #FFFFFF;
}

.top-center-div-icons {
	height: 70px;
	background-color: White;
	overflow: hidden;
}

.menu-left-float a {
	font-family: Segoe UI;
	font-size: 14px;
	font-weight: 600;
	color: #919191;
	text-decoration: none;
	position: relative;
	bottom: 1px;
	top: 6px;
	padding: 10px 3px 0 10px;
	margin-left: 1px;
	background-position: 5px 9px;
	background-repeat: no-repeat;
}

.menu-left-float a:active {
	background-color: transparent;
}
.filter-block { display: inline-block }
.filter-block label { color: #0975A6; }
/*.filter-block > div { float: left; }*/

.count{
	position: relative;
	top: -5px;
	right: 0;
	font-family: Segoe UI;
	font-size: 10px;
	font-weight: 600;
	color: #919191;
}

.tab-active .count {
	top: -7px;
}

.menu-left-float.tab-active { cursor: default; }

.menu-left-float.tab-active a {
	top: 4px;
	color: #3470a8 !important;
    cursor: default;
}

.menu-left-float .jQueryTextShadow {
	color: #284458;
}

.menu-left-float.tab-active 
.jQueryTextShadow, 
.menu-left-float:hover 
.jQueryTextShadow {
	color: #99c9e7 !important;
}

.menu-left-float:hover a {
	color: #26649B;
}

#sizeInsp {
	min-width: 1000px;
	overflow: auto;
}

#welcomeDivContent .welcome-message, #welcomeDivContent span, .welcome-message a {
	font-family: Segoe UI, arial;
	font-style: normal;
	color: #26649b;
	font-size: 12px;
	margin-right: 8px;
}

#username-settings a {
	margin-left: 10px;
}

.welcome-message {
	font-size: 14px;
	font-family: Segoe UI;
	font-weight: 600;
	color: #777777;
	float: left;
	padding-top: 1px;
	margin-left: 10px;
}

#welcomeDivContent {
	float: right;
	padding-top: 5px;
	padding-right: 20px;
}

#welcomeDivContent a {
	color: #26649B;
}

#welcomeDivContent a:link {
	text-decoration: none;
}

#welcomeDivContent a:hover {
	text-decoration: underline;
}

#welcomeDivContent .sign-out-span {
	margin-right: 0;
}

.menuLinks {
	float: left;
	margin-top: 5px;
	margin-left: 40px;
	display: none;
}

.collapsDiv {
	float: left;
	height: 100%;
}

.menuLinks a {
	color: #f5a652;
	text-decoration: none;
}

.menuLinks a:link {
	text-decoration: none;
}

.menuLinks a:hover {
	text-decoration: underline;
}

.menuLinks span {
	font-family: Segoe UI, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1.2em;
	margin-right: 10px;
}

#welcomeDivContent span.menu-link-separator {
	color: #2F445D;
	font-weight: inherit;
}

#welcomeDivContent .menu-links {
	float: right;
	margin-right: 6px;
}


.menu-left-float.tab-active {
    background: none repeat scroll 0 0 #FFF;
    border-bottom: 1px solid #FFF;
    padding-top: 2px;
}
.new-item-buttons{
    position: absolute;
    right: 0;
    top: 6px;
}

.new-item-btn{
    display: inline-block;
}

.new-item-btn button{
    width: 145px;
    height: 35px;
    border: 1px solid #0975a6;
    text-align: right;
    padding: 5px 10px 5px 5px;
    cursor: pointer;
    font-size: 14px;
}

.new-item-btn button:focus {
    outline: 0;
}
button:disabled {
    opacity: 0.8;
}

.new-card-btn button {
    background-image:url(../images/plus-white.png);
    background-repeat:no-repeat;
    background-position: 5%;
    background-color: #0975a6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}
.new-order-btn button{
    width: 150px;
    background-image:url(../images/plus-blue.png);
    background-repeat:no-repeat;
    background-position: 5%;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #0975a6;
}

.new-single-btn button {
    width: 160px;
    background-image:url(../images/plus-white.png);
    background-repeat:no-repeat;
    background-position: 5%;
    background-color: #0975a6;
    border-radius: 10px;
    color: white;
}

.container {
    width: 96%;
    margin: 0 auto;
    position: relative;
}
.container-search > div { display: inline-block; }
.filter-selector { position: absolute; top: 10px; left: 515px; }
.button {
    background: -webkit-linear-gradient(bottom,  #dedede , #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #dedede, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #dedede, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #dedede,#ffffff) ;
    display: inline-block;
    height: 28px;
    border-radius: 4px;
    border-color: #E2E2E2 #C8C8C8 #A3A3A3 #D8D8D8;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 2px 2px #DDD;
    font-family: Segoe UI;
    font-size: 14px;
    color: #565656;
    cursor: pointer;
    margin-right: 7px;
    padding: 0 10px;
}
.button:hover {
    opacity: 0.8;
}

.columns_button{
    width: 90px;
    text-align: left;
    background: url("../images/sort_desc_disabled.png") no-repeat right center, -webkit-linear-gradient(bottom,  #dedede , #ffffff); /* For Safari 5.1 to 6.0 */
    background: url("../images/sort_desc_disabled.png") no-repeat right center, -o-linear-gradient(top, #dedede, #ffffff); /* For Opera 11.1 to 12.0 */
    background: url("../images/sort_desc_disabled.png") no-repeat right center, -moz-linear-gradient(top, #dedede, #ffffff); /* For Firefox 3.6 to 15 */
    background: url("../images/sort_desc_disabled.png") no-repeat right center, linear-gradient(to top, #dedede,#ffffff) ;
}
.columns_button-pressed{
    width: 90px;
    text-align: left;
    background: url("../images/sort_desc_disabled.png") no-repeat right center, -webkit-linear-gradient(bottom,  #ffffff , #dedede); /* For Safari 5.1 to 6.0 */
    background: url("../images/sort_desc_disabled.png") no-repeat right center, -o-linear-gradient(top, #ffffff, #dedede); /* For Opera 11.1 to 12.0 */
    background: url("../images/sort_desc_disabled.png") no-repeat right center, -moz-linear-gradient(top, #ffffff, #dedede); /* For Firefox 3.6 to 15 */
    background: url("../images/sort_desc_disabled.png") no-repeat right center, linear-gradient(to top, #ffffff,#dedede) ;
}

.button-pressed {
    background: none;
    border-radius: 3px;
    box-shadow: 0 -1px 1px #dddddd;
    color: #848383;
}

.table{
    display: table;
}

.table > div{
    display: table-row;
}

.table > div > div{
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    font-size: 14px;
    color: #777777;
    padding:0 5px;
}
.lastSelectedRow{
    border-bottom: solid;
    border-width: 1px 0;
    border-bottom-color: #CBCBCB;
}

.preferenceSearch{
    background-color: #fbfbfb;
    border-color: #c7c7c7 #d8d8d8;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 3px 1px #f0f0f0 inset;
    color: #565656;
    font-family: Segoe UI;
    height: 26px;
    padding-left: 7px;
    width: 100%;
}

.horizontal-buttonset
{
    text-align: center;
    height: 90px;
}
.resource-link-container{
    padding-top: 50px;
    width: 105px;
    height: 25px;
    display: inline-block;
    margin: 15px 0 0;
    color: #565656;
}

.resource-link{
    vertical-align: top;
    display: inline-block;
}

.bigtime {
    background: url("../images/corporate/bigtime-grey.png") no-repeat top;
}

.bigtime:hover {
    background-image: url("../images/corporate/bigtime.png");
}



.coherent-solutions {
    background: url("../images/corporate/CS_grey.png") no-repeat top;
}



.coherent-solutions:hover {
    background-image: url("../images/corporate/CS.png");
}

.helpdesk {
    background: url("../images/corporate/HD-grey.png") no-repeat top;
}

.helpdesk:hover {
    background-image: url("../images/corporate/hd.png");
}

.issoft {
    background: url("../images/corporate/issoft-grey.png") no-repeat top;
}

.issoft:hover {
    background-image: url("../images/corporate/issoft.png");
}

.lunchvoting {
    background: url("../images/corporate/LV-grey.png") no-repeat top;
}

.lunchvoting:hover {
    background-image: url("../images/corporate/lv.png");
}

.resource-link-container:hover
{
    color: #373737;
}

.printButton{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('../images/print_32x32.png');
    background-repeat: no-repeat;
    background-color: #FFF;
    border: none;
    cursor: pointer;
}

.reminderButton{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/reminder.png') no-repeat center center #FFF;
    border: none;
    cursor: pointer;
}

.preference-scroller{
    position: relative;
    overflow: auto;
    height: 342px;
    border-bottom:
    1px solid #dddddd;
    border-top: 1px solid #dddddd;
    padding: 0 0 0 10px;
}

#scroll_container{
    position: relative;
    overflow: hidden;
    padding-top: 29px;
}



.close-icon
{
    width: 22px;
    height: 22px;
    cursor: pointer;
    vertical-align: top;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-color: #E2E2E2 #C8C8C8 #A3A3A3 #D8D8D8;
    border-style: solid;
    border-width: 1px;
    background: url("../images/close-icon-grey.png") no-repeat center, linear-gradient(to top,#dedede, #ffffff) ;
    box-shadow: 1px 2px 2px #DDDDDD;
}

.close-icon:hover
{
    background: url("../images/close-icon-blue.png") no-repeat center, linear-gradient(to top,#d5d5d5, #f2f2f2);
}

.close-icon-position{
    position: relative;
    float:right;
    top: 10px;
}

.fixed-header-background {
    border-left: 0;
}

.disabled-crud-icons {
    opacity: 0.2 !important;
    cursor: default !important;
}
.disabled-crud-icons:hover {
    opacity: 0.2 !important;
    cursor: default !important;
}