.table-name { display: block; padding-left: 15px; padding-top: 15px; color: #26649B; }

.dataTables_scrollHead .assignment-head-td { border-top: 1px solid #CBCBCB !important; }
.dataTables_scrollHead .assignment-head-td:nth-child(1),
.dataTables_scrollHead .assignment-head-td:nth-child(2),
.dataTables_scrollHead .assignment-head-td:nth-child(5),
.dataTables_scrollHead .assignment-head-td:nth-child(7),
.dataTables_scrollHead .assignment-head-td:nth-child(9) { border-right: 1px solid #CBCBCB !important; }