.orders-sort { padding-left: 10px; padding-top: 10px; }
.orders-sort div.select_div { width: 110px !important; }
.document-type {display: none;}
/* Document Editor Dialog */
.doc-editor-update-btn {
    margin-top: 20px;
}
#doc-main-wrap {
    overflow: hidden;
}
#doc-sidebar {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    height: 810px;
    border-right: 1px solid #CBCBCB;
    width: 231px;
}
#doc-content-wrap {
    float: right;
    width: 690px;
    padding: 3px;
}
#doc-sidebar select.select-list {
    height: 64px !important;
}

.name-selector {
    width: 100%;
    height: 100px;
    border: 1px solid #CBCBCB;
    overflow-x: hidden;
    overflow-y: auto;
}

.name-selector ul { text-decoration:  none; }
.name-selector ul li { padding: 1px; font-size: 10px; }
.name-selector ul li:hover { background-color: #FDFAE3; }

.remove-name {
    float: right;
    margin-right: 5px;
    cursor: pointer;
    background: url('../../image/close_dialog.png') no-repeat scroll 0% 0% transparent;
    background-size: 100%;
    width: 15px;
    height: 15px;
}
.remove-name:hover {
    background: url(../../image/close_dialog_hover.png) no-repeat scroll 0% 0% transparent;
    background-size: 100%;
    width: 15px;
    height: 15px;
}
.ui-autocomplete {
    max-height:200px;
    width: 230px;
    overflow-x:hidden;
    overflow-y:scroll;
}