.edu-block {
    padding: 10px 20px;
}
.edu-block table:first-child {
    float: left;
    width: 50%;
    margin-right: 30px;
}
#missionFieldset {
    width: 53%;
}
#missionFieldset label {
    margin-left: 5px;
}
.with-border {
    border: 1px solid rgba(225, 225, 225, 1);
    border-spacing: 7px 4px;
    margin-top: 8px;
    border-radius: 5px;
}
.edu_finish_date {
    color: #5F5F5F;
    font-size: 11px;
    margin-top: 10px;
}