.multi-child { padding: 10px; }

.multi-child b { font-weight: 600; color: #26649B; }

.add-family-member .divRow > div:nth-child(1) { width: 24%; }
.add-family-member .divRow > div:nth-child(2) { width: 74%; }