@CHARSET "UTF-8";

.copy_num_to_insurance {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../image/copy_icon.png") no-repeat center;
    background-size: 100%;
}
.birthPlace {
    width: 96%;
    text-align: center;
}
.birthPlace tr td:nth-child(1){
    width: 40px;
}
.copy-fields { color: #26649b !important; }
.copy-fields:hover { text-shadow: 0 0 0 }

#editDialog input {
    font-size: 11px;
    padding: 0 3px;
}
#editDialog input {
    height: 25px;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    width: 100%;
}
#editDialog input[type=checkbox] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
#editDialog table {
    color: #5F5F5F;
    font-family: Segoe UI,Georgia,"Times New Roman" !important;
    font-size: 12px;
}
#editDialog table td {
    height: 25px;
}
.avatar,
.info_block {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.info_block  { width: 255px; }
.third table { margin: 0 10px; }
.third input[type=text] { width: 70px !important; }
.third table tr td:nth-child(1) {
    width: 35px !important;
    text-align: left !important;
}
.info_block table tr td:nth-child(1) {
    width: 67px !important;
    height: 25px;
    text-align: right;
}
.info_block table tr td:nth-child(2) {
    color: #000;
}
.info_block table {
    display: inline-table;
    line-height: 1.1;
    width: 100%;
}
.info_block table td { padding-left: 2px; }
.info_block table tr { margin-bottom: 1px; }

.avatar {
    margin-top: 15px;
    border: 1px solid #CBCBCB;
    position: relative;
}
.avatar span {
    width: 130px;
    height: 155px;
    background: url('../../image/default_avatar.png') no-repeat scroll 0% 0% transparent;
    display: block;
    background-size: 100%;
}
.avatar .update_photo {
    display: block;
    position: absolute;
    top: -13px;
    right: -10px;
    cursor: pointer;
    background: url('../../image/update.png') no-repeat scroll 0% 0% / 100% auto transparent;
    width: 25px;
    height: 25px;
}
.avatar .update_photo:hover {
    background: url('../../image/update_active.png') no-repeat scroll 0% 0% / 100% auto transparent;
}
.old_lastName {
    display: block;
    background: url('../../image/old_lastName.png') no-repeat scroll 0% 0% / 100% auto transparent;
    width: 18px;
    height: 18px;
}
.old_lastName:hover {
    background: url('../../image/old_lastName_active.png') no-repeat scroll 0% 0% / 100% auto transparent;
}
.documents {
    float: left;
    width: 44% !important;
}
.citizenship {
    width: 48% !important;
    margin-left: 48%;
}
.spacing {
    margin: 10px 0 31px;
}
.add_order {
    height: 25px;
    color: #5F5F5F;
    padding: 0 5px;
}
.separator {
    margin-left: 8px;
    margin-right: 5px;
    color: #CECECE;
    font-size: 16px;
}
.red {
    color: red;
}
#tabs-contents fieldset {
    padding: 5px 15px;
    border: medium none;
    border-radius: 0;
    margin: 15px 5px 5px;

}
#tabs-contents fieldset legend {
    margin-left: -5px;
    color: #26649B;
    text-shadow: 0 0 0;;
    font-size: 11px;
}
.blue-label {
    color: #26649b;
}