.dialog_title {
    text-align: center;
    color: #26649B;
    font-size: 20px;
    padding: 3px;
    display: block;
    text-shadow: 1px 0 0;
}
.popup-title {
    display: block;
    padding: 10px 15px;
    color: #000000;
    font-size: 16px;
}