.right-border {
    display: block;
    width: 445px;
    float: left;
    padding: 0 15px 15px 15px;
    border-right: 1px solid #CBCBCB
}
#is_conscript { margin-left: 20px; }
.right-border label { margin-left: 8px; }
.withdrawal { width: 445px; }
.withdrawal tr td:first-child { width: 75px; }
.disabled_fields { opacity: 0.5; }
.disabled_fields input { background-color: #ffffff; }
.fb_category { margin: 15px 0 10px 20px; }

