.report-title { padding: 10px; }

.report-block table { border-spacing: 15px; padding: 10px 15px; }
.report-block > div { padding-left: 30px; }

table.title { text-align: left !important; }

.report-block, .report-table-block { padding: 0 15px 25px 15px;}

.rgh-border-none { margin-bottom: 1px; }
.rgh-border-none tr td:first-child { border-left: none; }

.report-table-wrapper { overflow: auto; }

.report-table-title { border-spacing: 0; float: left; padding-bottom: 25px;}
.report-table-title td { vertical-align: bottom; }

.report-table { border-spacing: 0; border-collapse:collapse; }

.month tbody { border-bottom: 2px solid #DBDBDB;  border-top: 2px solid #DBDBDB; }

.report-table td { min-width: 30px; max-width: 110px; padding: 1px; border: 1px solid #DBDBDB; text-align: right; vertical-align: bottom; }

td.align-center { text-align: center !important; font-weight: 600; }

.title td { text-align: left !important; }

.report-table tr:nth-child(1) td,
.report-table tr:nth-child(2) td,
.report-table tr:nth-child(11) td,
.report-table tr:nth-child(12) td { height: 55px !important; }

hr.report-separator { color: #cbcbcb; margin: 10px -15px 30px }

.report-month-sum, .report-month-avg { padding-left: 5px; max-width: 35px; overflow: hidden; }
.report-month-avg { padding-top: 5px; margin-bottom: -19px; }