.curtain {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(45, 60, 73, 0.3);
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal {
    background: #fff;
    position: absolute;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    right: 0;
    left: 0;
    margin: auto;
}
/* Sizes of reveal windows*/
.small, .medium, .xlarge { border: 1px solid #989896; }

.small {
    top: 35%;
    min-width: 300px;
    max-width: 400px;
}
.warning-message {
    display: block;
    padding: 15px 15px 30px;
    font-size: 14px;
    color: #787878;
}

.xlarge {
    top: 0;
    bottom: 0;
    width: 958px;
    height: 888px;
}

.report {
    top: 100px;
    width: 958px;
}

.medium {
    top: 200px;
    width: 530px;
}

.close-X-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    background: url('../../image/close_dialog.png') no-repeat scroll 0 0 transparent;
    background-size: 100%;
    display: block;
    width: 20px;
    height: 20px;
}
.close-X-button:hover {
    background: url('../../image/close_dialog_hover.png') no-repeat scroll 0 0 transparent;
    background-size: 100%;
}
.white {
    color: #FFF !important;
    top: 4px;
}
