/*border surround all tab block*/
#dialog_tabs { position: relative; }
#address_tabs,
#military_tabs,
#education_tabs,
#vacation_tabs,
#additionInfo_tabs,
#dialog_tabs {
    clear: both;
    background: none;
    border-width: 0px;
    padding-top: 5px;
    padding-right: 0;
    padding-left: 0;
}
/* background in tabs header (ul)*/
#dialog_tabs .ui-tabs-nav {
    padding-left: 15px;
    background: transparent;
    border-width: 0px 0px 1px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 6px;
    top: -2px;
    margin-bottom: -3px;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none outside none;
    float: left;
    margin: 0 0 0 1px;
    position: relative;
    top: 0px;
    border-bottom-width: 0px;
    padding: 3px;
    white-space: nowrap;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.ui-state-default a {
    color: #989898 !important;
    font-size: 11px;
    text-shadow: 0 0 0;
    outline: 0;
}
li.ui-state-active a {
    color: #26649B !important;
}
.ui-widget-header {
    background-image: none;
}

/* custom tabs (education, military , etc.)*/
#education_tabs ul, #military_tabs ul {
    margin-top: 15px;
    border: 0;
}
#education_tabs ul li, #military_tabs ul li {
    margin-right: 10px;
    padding: 3px;
    background: none repeat scroll 0% 0% transparent;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    box-shadow: 0px 2px 1px #CBCBCB;
}
#education_tabs li.ui-tabs-active, #military_tabs li.ui-tabs-active {
    top: 0px;
    margin-bottom: 0px;
    background-color: #26649B;
    border: 1px solid #26649B;
}
#education_tabs .ui-state-default a, #military_tabs .ui-state-default a {
    color: #000000 !important;
    background-color: #ffffff;
}
#education_tabs  li.ui-state-active a, #military_tabs  li.ui-state-active a {
    color: #ffffff !important;
    background-color: #26649B;
}
#tabs-contents > div { position: relative; }
