.rest_counter {
    padding-top: 30px;
    padding-left: 15px;
    width: 30%;
}
.rest_counter label {
    color: #989896;
}
.rest_counter span {
    float: right;
    color: #0D7EB3;
}
#vacation_tabs thead td {
    padding: 5px !important;
}
.vacation_settingsCell:nth-child(1){
    width: 69%;
}
.vacation_settingsCell:nth-child(2){
    width: 29%;
}

.addVacationCell:nth-child(1) {
    width: 20%
}
.addVacationCell:nth-child(2),
.addVacationCell:nth-child(4){
    width: 4%;
}
.addVacationCell:nth-child(3),
.addVacationCell:nth-child(5){
    width: 33%
}
#vacationInformation .dataTables_scrollHead td { height: 15px; line-height: 1 !important; }

#vacationInformation .dataTables_scrollHead tr:first-child td { text-align: center;  border-top: 1px solid #CBCBCB !important;   border-bottom: 1px solid #CBCBCB !important; }

#vacationInformation .dataTables_scrollHead tr:first-child td:nth-child(1),
#vacationInformation .dataTables_scrollHead tr:first-child td:nth-child(2),
#vacationInformation .dataTables_scrollHead tr:first-child td:nth-child(2),
#vacationInformation .dataTables_scrollHead tr:first-child td:nth-child(6) { border-right: 1px solid #CBCBCB !important; }